@import 'src/styles/colors.scss';

.dev-plan-editor {
  height: 100%;

  .ant-form-item {
    margin-bottom: 18px;
    @media screen and (max-width: 575px) {
      margin-bottom: 10px;
    }
  }

  .devPlan-tabs{
    @media screen and (max-width: 575px) {
        flex-direction: row;
        .ant-steps-item{
          padding-inline-start: 0;
          display: inline-block;
          flex: 1;
          overflow: hidden;
          &:last-child{
            padding-inline-start: 8px;
          }
          &.ant-steps-item-active{
            &::before{
              // display: none !important;
              inset-inline-start: 0 !important;
              width: 100% !important;
              height: 2px !important;
              bottom: 0 !important;
              top: initial !important;
            }
          }
          .ant-steps-item-container{
            padding: 0 !important;
            margin-inline-start: 0 !important;
              .ant-steps-item-tail{
                display: none !important;
              }
              .ant-steps-item-content{
                min-height: auto;
                .ant-steps-item-description{
                  // padding-bottom: 0 !important;
                  display: none;
                }
                .ant-steps-item-title{
                  white-space: normal !important;
                  @media screen and (max-width: 401px) {
                    max-width: 110px;
                  }
                }
              }
              .ant-steps-item-icon{
                margin-inline-end: 6px !important
              }
          }
        }
      // .ant-steps-item{
      //   &::after{
      //     display: none !important;
      //   }
      // }
      // .ant-steps-item-container{
      //   min-width: 221px;
      //   .ant-steps-item-icon{
      //    margin-top: 6px; 
      //   }
      // }
    }
  }

  .ant-btn {
    font-size: 14px;
  }

  .ant-spin-container,
  form {
    height: 100%;
    padding: 10px 0;
    margin-top: 10px;
  }

  .form-row {
    justify-content: space-between;
    flex-wrap: wrap;

    .ant-row {
      flex-wrap: nowrap;
      @media screen and (max-width: 575px){
        flex-direction: column;
        .ant-col-4{
          padding: 0;
        }
      }
    }
    .ant-form-item {
      width: calc(50% - 5px);
      @media screen and (max-width: 899px) {
        width: 100%;
      }
      .ant-col-4 {
        min-width: 152px;
        max-width: min-content !important;
        label{
          white-space: nowrap;
        }
      }
    }
  }

  .ant-card {
    margin-bottom: 10px;
    .ant-input {
      border: none;
    }
  }

  .dev-plan-header {
    background-color: white;
    align-items: start !important;

    .ant-collapse-expand-icon{
      height: 40px !important;
      width: 32px;
      padding-right: 8px !important;
    }

    .accordion-header{
      gap: 10px;
      align-items: center;
    }
    @media screen and (max-width: 575px) {
      .ant-collapse-expand-icon{
        height: 24px !important;
        width: auto;
      }
      .accordion-header{
        flex-direction: column;
        align-items: start;

        .task-form-field{
          flex-direction: column;
        }
      }
    }
  }

  .dev-plan-header,
  .dev-plan-leaf-item {
    align-items: start !important;
    padding: 5px 10px 10px 10px !important;

    .ant-form-item {
      margin-bottom: 0;
    }
  }

  .epic-header {
    padding: 5px 0 !important;
  }

  .ant-collapse-content-box {
    padding: 2px 10px !important;
  }

  .story-header {
    .ant-collapse-content {
      border: none!important;
    }
    .ant-collapse-content-box {
      padding: 0 !important;
    }
  }

  .task-card {
    margin-left: 20px;
    padding: 0 !important;
    .ant-collapse-content-box {
      margin: auto 30px;
    }

  }

  .ant-card-body {
    padding: 0 !important;
  }

  .generate-btn-pop {
    flex: 1;
  }

  .custom-input {
    border: solid 1px $COLOR_ANTD_BORDER;
    padding: 7px 11px;
    font-size: 16px;
    line-height: 1.5;
    box-sizing: border-box;
    display: inline-block;
    border-radius: 8px;
    width: 100%;
    display: flex;
  }

  .text-ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .input-content {
    @extend .text-ellipsis;
    margin-right: 10px;
  }

  .ant-form-item-has-error {
    .custom-input {
      border-color: $COLOR_ERROR;
    }
  }

  .editable-text {
    &:focus {
      background: 'white';
    }
  }

  .placeholder {
    font-size: 14px;
    color: $COLOR_GRAY;
  }
}