.image-upload-container {
  background-color: rgb(244, 245, 250);
  border-radius: 6px !important;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.upload-button {
  background-color: white !important;
  border-radius: 6px;
  width: 400px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ant-upload-list-item {
  padding: 0px !important;
  border-style: dashed !important;
  display: flex;
  align-items: center;
  justify-items: center;
}

.ant-upload-list .ant-upload-select {
  width: 400px !important;
  height: 400px !important;
  border-radius: 6px !important;
  border-style: dashed !important;
  border-width: 2px !important;
  border-color: black;
  cursor: pointer !important;
}

.ant-upload-list-item::before {
  background-color: black 0.9 !important;
  width: 400px !important;
  height: 400px !important;
  border-radius: 6px !important;
}

.ant-image-preview-operations {
  background-color: black !important;
}

.ant-upload-list-item-container {
  padding: 0;
  width: 400px !important;
  height: 400px !important;
}

.image-upload-container .ant-spin-nested-loading {
  width: 400px !important;
}