.ant-tour {
  width: 750px;
  max-width: -webkit-fill-available;

  .ant-tour-description .ant-form-item-row {
    flex-direction: row !important;
    align-items: center;
    justify-content: center;
  }

  .ant-tour-cover {
    padding: 0 !important;
  }
}
